:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --paragraph-size: 1.125rem;
  --header1: 4rem; 
  --header2: 1.688rem;

  --bierens-blue: #00388B;
  --bierens-text-gray: rgba(51, 51, 51, 0.5);
  --bierens-green: #1FB64F;
  --bierens-orange: #FF5800;
}

