@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

#menu {
    height: 100vh;
    width: 214px;
    background: #00388B;
    position: absolute;
    left: 0;
    top: 0;
}

.header, .main, .footer {
    position: relative;
    width: 100%;
    max-width: 100%;
    text-align: center;
    display: block;
}

.header {
    margin-top: 100px;
    padding-bottom: 60px;
    height: auto;
}



            /* --image */
#logo {
    width: 50%;
    position: relative;
    top: -100px;
    margin-top: 40px;
}
.footer img {
    height: 24px;
    line-height: -1;
}

            /* --text */
.a {
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    color: white;
}
.currentpage {
    background: white;
}
.currentpage a {
    color: #00388B;
}

            /* --List */
#list {
    width: 100%;
    max-width: 100%;
    height: 100%;
    text-align: left;
    position: relative;
    padding: 0;
}
#list .inner-list {
    list-style: none;
    text-align: center;
    padding: 15px 0px 15px 0px;
    width: 100%;
    position: inherit;
    left: 0;
    display: block;
}
.inner-list a {
    text-decoration: none;
    width: 100%;
    height: 100%;
}

        /* --List --hover */
.inner-list:hover {
    background: white;
    transition: all 1s;
}
.inner-list:hover a {
    color: #00388B;
    font-weight: bold;
    transition: all 1s;
}

                                        /* --main */
.main {
    height: calc(100% - 368px);
}
                                    /* --main --main-inner */
