@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

#section_users {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#users_title {
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 53px;
    color: var(--bierens-blue);
}

#users_title_clarification {
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 17px;
    color: var(--bierens-text-gray);
}

#number_users {
    display: flex;
    flex-direction: row;
    gap: 120px;
    border-bottom: 1px solid var(--bierens-text-gray);
    width: 100%;
    margin: 58px 0 0 0;
}