@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* * {
    margin: 0px auto;
    padding: 0px;
} */

#landing-top {
    height: 100vh;
    width: 100vw;
    background-image: url(image/LandingPage-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;


    /* Code to center page */
    display: block;
    position: relative;
    flex-direction: column;
    align-self: center;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);

}

#landing-top main, #landing-top header, #landing-top footer {
    width: 90%;
    display: block;
}

#landing-top header, #landing-top footer {
    width: 100%;
}

.highlight {
    color: #326AD7!important;
}

            /* --text */

.landing-h1, #landing-top-text {
    text-align: left;
}
.landing-h1 {
    /* font-family: "Open Sans", sans-serif;
    font-weight: bold; */
    font-size: 80px;
    font-family: "Play";
    position: relative;
    margin: 0;
    float: left;
    overflow: hidden!important;
}
.landing-h1 .highlight {
    font-size: 80px;
    font-family: "Play";
}
#landing-top-text {
    font-family: "Play";
    font-size: 36px;
    color: black;
}
/* #landing-top-text {
    font-weight: 600;
} */
.button-calltoaction {
    font-family: "Inter";
    font-size: 36px;
}


            /* --image */

#landing-top-image {
    width: 100%;
    max-width: 90%;
    float: right;
}

                                        /* --Header */

#landing-top header {
    height: 132px;
}

                                        /* --main */

#landing-top main {
    height: calc(100vh - 132px);
}

#landing-top #main-inner {
    height: 100%;
    width: 100%;
}

#landing-top .main-inner-content {
    display: inline-block;
    width: calc(50%);
    height: 100%;
    position: relative;
    float: left;
    overflow: hidden!important;
}

                                    /* --main --innerleft */

/* #landing-top #main-inner-left {
    background: blue;
} */

            /* --Button */

.button-calltoaction, .button-a {
    position: relative;
    float: left;
}

.button-a {
    text-align: left;
}

.button-calltoaction {
    width: 236px;
    height: 70px;
    background: linear-gradient(to left, #326AD7, #2651A4);
    border-radius: 10px;
    border: 0px transparent;
    color: white;
}

/* .button-calltoaction:hover {
    width: 236px;
    height: 70px;
    transition: all 1s;
} */

                                /* --main --innerleft-inner */
#main-inner-left-inner {
    width: calc(100%);
    padding-left: 60px;
}

                                        /* --main --innerright */

/* #landing-top #main-inner-right {
    background: green;
} */
