* {
    margin: 0px auto;
    padding: 0px;
}

body {
    width: 100%;
    height: 100%;
}

#landing-top {
    height: 100vh;
    width: 100vw;
    background-image: url(image/LandingPage-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#landing-top main, #landing-top header, #landing-top footer {
    width: 90%;
    display: block;
}

#landing-top header, #landing-top footer {
    width: 100%;
}

.highlight {
    color: #326AD7!important;
}

/* --text */

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 4em;
}
p, a, button {
    font-family: "Montserrat";
    font-size: 1em;
}
button, #landing-top-text {
    font-weight: bolder;
}

/* --image */

#landing-top-image {
    width: 100%;
    max-width: 100%;
}

/* --Header */

#landing-top header {
    height: 132px;
    background: #326AD7;
}

/* --main */

#landing-top main {
    height: calc(100vh - 132px);
}

#landing-top #main-inner {
    height: 100%;
    width: 100%;
}

#landing-top .main-inner-content {
    display: inline-block;
    width: calc(50%);
    height: 100%;
    position: relative;
    float: left;
}

/* --main --innerleft */

/* #landing-top #main-inner-left {
    background: blue;
} */

.button-calltoaction {
    width: 264px;
    height: 84px;
    background: linear-gradient(to left, #326AD7, #2651A4);
    border-radius: 10px;
    border: 0px transparent;
    color: white;
}

.button-calltoaction:hover {
    width: 236px;
    height: 70px;
    transition: all 1s;
}

#main-inner-left h1, #main-inner-left p, #main-inner-left a {
    padding: 20px;
}

/* --main --innerright */

/* #landing-top #main-inner-right {
    background: green;
} */
